
.form-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  background-color: #1a1b1b;
border-radius: 12px;
    padding: 0.5rem;
    color:#eef5f5;
}


.grupo-control {
    background-color: #939c9c;
    color: #f2fafa;
    
    border-radius: 12px;
    padding: 1.2rem;
    transition: all 0.2s ease;

}


.grupo-control:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    background-color: #8dbef0;
    color: #0f1113;
}


.grupo-control h5 {
    font-size: 0.95rem;
    font-weight: 600;
    color: #eaf1f1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.8rem;
    
}


.btn-tema-opcion {
    width: 100%;
    padding: 0.75rem 1rem !important;
    font-weight: 500 !important;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.1s ease, box-shadow 0.2s ease !important;
}

.btn-tema-opcion:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.btn-tema-opcion:active {
    transform: translateY(0);
}

.botones {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    color:#eaf1f1;
}

.botones p{
    font-weight: bold;
    margin: 0;
    align-self: center;
}
.btn {
    font-weight: 500;
    border-radius: 8px;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
    border: 1px solid #eaf1f1;
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #eaf1f1;
    color: #1a1b1b;
}

.boton-dinamico {
    transition: all 0.3s ease;
    background-color: #e01010;
    border: 1px solid #eaf1f1;
    border-radius: 8px;
}
.boton-dinamico:hover {
    background-color: #eaf1f1;
    color: #e01010;
    border: 1px solid #e01010;
}
.boton-dinamico-escuchar {
    transition: all 0.3s ease;
    background-color: #97f572;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
.boton-dinamico-escuchar:hover {
  background-color: #07d14b;
  color: #0c0c0b;
}
.texto-dinamico {
    transition: all 0.3s ease;
    background-color: #eaf1f1;
    border: 1px solid #111313;
    border-radius: 8px;
    color: #111313;
}
.boton-accesible {
    transition: all 0.3s ease;
    background-color: #1e293b;
    border: 1px solid #eaf1f1;
    border-radius: 8px;
    color: #eaf1f1;
}
.boton-accesible:hover {
    background-color: #eaf1f1;
    color: #1e293b;
    border: 1px solid #1e293b;
}